<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TbFeeschemeMapper">
    
    <resultMap type="TbFeescheme" id="TbFeeschemeResult">
        <result property="fsmid"    column="fsmid"    />
        <result property="schemename"    column="schemename"    />
        <result property="feeType"    column="feeType"    />
        <result property="stateType"    column="stateType"    />
        <result property="founder"    column="founder"    />
        <result property="creationtime"    column="creationtime"    />
        <result property="addtime"    column="addtime"    />
    </resultMap>

    <sql id="selectTbFeeschemeVo">
        select fsmid, schemename, feeType, stateType, founder, creationtime, addtime from tb_feescheme
    </sql>

    <select id="selectTbFeeschemeList" parameterType="TbFeescheme" resultMap="TbFeeschemeResult">
        <include refid="selectTbFeeschemeVo"/>
        <where>  
            <if test="schemename != null  and schemename != ''"> and schemename like concat('%', #{schemename}, '%')</if>
            <if test="feeType != null "> and feeType = #{feeType}</if>
            <if test="stateType != null "> and stateType = #{stateType}</if>
            <if test="founder != null  and founder != ''"> and founder = #{founder}</if>
            <if test="creationtime != null "> and creationtime = #{creationtime}</if>
            <if test="addtime != null "> and addtime = #{addtime}</if>
        </where>
    </select>
    
    <select id="selectTbFeeschemeByFsmid" parameterType="Long" resultMap="TbFeeschemeResult">
        <include refid="selectTbFeeschemeVo"/>
        where fsmid = #{fsmid}
    </select>
        
    <insert id="insertTbFeescheme" parameterType="TbFeescheme" useGeneratedKeys="true" keyProperty="fsmid">
        insert into tb_feescheme
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="schemename != null">schemename,</if>
            <if test="feeType != null">feeType,</if>
            <if test="stateType != null">stateType,</if>
            <if test="founder != null">founder,</if>
            <if test="creationtime != null">creationtime,</if>
            <if test="addtime != null">addtime,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="schemename != null">#{schemename},</if>
            <if test="feeType != null">#{feeType},</if>
            <if test="stateType != null">#{stateType},</if>
            <if test="founder != null">#{founder},</if>
            <if test="creationtime != null">#{creationtime},</if>
            <if test="addtime != null">#{addtime},</if>
         </trim>
    </insert>

    <update id="updateTbFeescheme" parameterType="TbFeescheme">
        update tb_feescheme
        <trim prefix="SET" suffixOverrides=",">
            <if test="schemename != null">schemename = #{schemename},</if>
            <if test="feeType != null">feeType = #{feeType},</if>
            <if test="stateType != null">stateType = #{stateType},</if>
            <if test="founder != null">founder = #{founder},</if>
            <if test="creationtime != null">creationtime = #{creationtime},</if>
            <if test="addtime != null">addtime = #{addtime},</if>
        </trim>
        where fsmid = #{fsmid}
    </update>

    <delete id="deleteTbFeeschemeByFsmid" parameterType="Long">
        delete from tb_feescheme where fsmid = #{fsmid}
    </delete>

    <delete id="deleteTbFeeschemeByFsmids" parameterType="String">
        delete from tb_feescheme where fsmid in 
        <foreach item="fsmid" collection="array" open="(" separator="," close=")">
            #{fsmid}
        </foreach>
    </delete>
</mapper>